<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.sms.dao.CourseDao">
  <select id="selectAll" 
  	resultType="com.briup.apps.sms.bean.Course">
    select * from sms_course
  </select>
  
  <select id="selectAllWithTeacher" 
  	resultType="com.briup.apps.sms.bean.CourseExtend">
  	select c.id as id,
  	c.name as name ,
  	c.credit as credit,
  	c.user_id as user_id,
  	u.realname as teacherName
	from sms_course as c left join sms_user as u
	on c.user_id = u.id;
  </select>
  
  
  
  
</mapper>